/* app css stylesheet */

body {
  padding-top: 20px;
}


.details-container { 
height: 250px;
width: 450px; 
padding: 20px;
background-color: white; 
text-align: left;

box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

border-radius: 12px;
border-radius: 7px; 
border-radius: 7px;

background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #e9e9e9)); 
background: linear-gradient(top, white 0%, white 55%, #e9e9e9 130%); 
}


.edit-container { 
height: 500px;
width: 650px; 
padding: 20px;
background-color: white; 
text-align: left;

box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

border-radius: 12px;
border-radius: 7px; 
border-radius: 7px;

background: -webkit-gradient(linear, left top, left bottom, 
color-stop(0%, white), color-stop(15%, white), color-stop(100%, #e9e9e9)); 
background: linear-gradient(top, white 0%, white 55%, #e9e9e9 130%); 
}