<center>
<h1>Application Editor</h1>

<div ng-form="inputForm" class="edit-container">
<label>Name: </label> <input type="text" ng-model="app.name">
<label>Category: </label>
	  <select ng-model="app.category" required>
      	<option value="Social Networking">Social Networking</option>
      	<option value="Navigation">Navigation</option>
      	<option value="Photography">Photography</option>
      </select>
<label>Description: </label> <input type="text" ng-model="app.description" required>
<label>Developer: </label> <input type="text" ng-model="app.developer" required>
<label>Compatibility: </label> <input type="text" ng-model="app.compatibility" required>
<label>Website: </label> <input type="url" ng-model="app.website" placeholder="Enter a valid address" required>
<label>Rating: </label> 
<select ng-model="app.rating" style="width:50px">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
</select> / 5
</br>
     <p align="center"> 
     	  <button ng-click="SaveApp()" class="btn btn-large btn-primary" type="submit" ng-disabled="!inputForm.$valid">Save</button>
		  <a href="#/applications" class="btn btn-large">Cancel</a>
  	</p>
</div>
</center>
{{tomer}}