<h1 class="well">Welcome to AppStore</h1>

<form class="form-search">
<div>
<table cellpadding ="10px">
   <tr>
    <td class="input-prepend">
        <span class="add-on pull-left"><i>Search</i></span><input type="text" ng-model="appSearch" class="span2"/>
     </td>
     <td class="input-prepend">
        <span class="add-on pull-left"><i>Order By</i></span>
        <select ng-model="appOrder" class="span2 pull-left">
           <option value="name">Alphabetical</option>
           <option value="-rating">Top Rated</option>
           <option value="rating">Least Rated</option>
        </select>
     </td>
     <td width="500px">
        <a href="#/create" class="btn btn-small btn-danger">Create App</a>
     </td>
    </tr>
   </table>
    </div>
</form>

<div>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Image</th>
            <th>App Name</th>
            <th>Category</th>
            <th>Rating</th>
            <th></th>
        </tr>
        </thead>
        <tr ng-repeat="app in total | filter: appSearch | orderBy: appOrder">
            <td><img ng-src="{{app.logo}}" height="20px" width="20px"></td>
            <td>{{app.name}}</td>
            <td>{{app.category}}</td>
            <td><img ng-src="img/{{app.rating}}.png"></td>
            <td>
                <a href="#/applications/{{app.name}}/edit" class="btn btn-small btn-primary">Edit</a> 
                <a href="#/applications/{{app.name}}" class="btn btn-small btn-info">Details</a>
                <a class="btn btn-small btn-danger" href="#" ng-click="RemoveFromLocalStorage(app.name, $event)">Delete</button>
            </td>
        </tr>
    </table>
</div>