<form class="form-search">
<div>
<table cellpadding ="10px">
   <tr>
    <td class="input-prepend">
        <span class="add-on"><i>Search</i></span><input type="text" ng-model="appSearch" class="span2"/>
     </td>
     <td class="input-prepend">
        <span class="add-on"><i>Order By</i></span>
        <select ng-model="appOrder" class="span2">
           <option value="name">Alphabetical</option>
           <option value="-rating">Top Rated</option>
           <option value="rating">Least Rated</option>
        </select>
     </td>
     <td>
        <a href="#/create" class="btn btn-small btn-danger">Create App</a>
     </td>
    </tr>
   </table>
    </div>
</form>