<div id="container">
	<div class="{{app.rating>=1 && 'golden-star' || 'gray-star'}}" ng-click="UpdateRating(1)" ng-mouseenter="highlight($event,0)" ng-mouseleave="conceal($event,app.rating,0)"></div>
	<div class="{{app.rating>=2 && 'golden-star' || 'gray-star'}}" ng-click="UpdateRating(2)" ng-mouseenter="highlight($event,1)" ng-mouseleave="conceal($event,app.rating,1)"></div>
	<div class="{{app.rating>=3 && 'golden-star' || 'gray-star'}}" ng-click="UpdateRating(3)" ng-mouseenter="highlight($event,2)" ng-mouseleave="conceal($event,app.rating,2)"></div>
	<div class="{{app.rating>=4 && 'golden-star' || 'gray-star'}}" ng-click="UpdateRating(4)" ng-mouseenter="highlight($event,3)" ng-mouseleave="conceal($event,app.rating,3)"></div>
	<div class="{{app.rating==5 && 'golden-star' || 'gray-star'}}" ng-click="UpdateRating(5)" ng-mouseenter="highlight($event,4)" ng-mouseleave="conceal($event,app.rating,4)"></div>
</div>